@media screen and (min-width:1200px) {
    body {
      font-size: 110%;
    }
}

@media screen and (min-width:1400px) {
    html {
      padding: 15%;
    }
}

@media screen and (min-width:1600px) {
    body {
    font-size: 125%;
    }
    }

@media screen and (min-width:1800px) {
    html {
    padding: 20%;
    }
    }

body {
  font-family: 'Lato', sans-serif;
}

.article__text {
  font-family: 'Lora', serif;
}

@media (min-width: 320px) {
  .header__title {
    font-size: 15px;
  }
}

@media (min-width: 641px) {
  .header__title {
    font-size: 32px;
  }
}

@media (max-width: 593px) {
	.mobile{
		width: 250px;
		height: 100vh;
		background: #333;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		position: fixed;
		top: 0;
		right: -250px;
		padding: 15px;
		font-size: 25px;
		z-index: 2;
		color: #fff;
    }
	}

	.mobile li{
		margin-bottom: 20px;
	}
	.mobile li:last-child{
		margin-bottom: 0px;
	}
	.mobile span{
		display: block;
		position: absolute;
		top: -5px;
		right: 10px;
		font-size: 40px;
		transform: rotate(45deg);
		color: #fff;
	}
	.hamb{
	display: block;
	font-size: 35px;
}
